@charset "UTF-8";

html, body {
  border: none;
  margin: 12px;
  padding: 0px;

  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;

  line-height: 150%;

  background-color: #f8f8f8;
  color: #222;
}

.nobr {
  word-break: keep-all;
}

a {
  color: #268;
  font-weight: 900;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

code, pre, tt {
  font-family: 'Source Code Pro', monospace;
  line-height: 110%;
  word-break: keep-all;
}
code[type="class"] {
  padding: 2px 4px;
  background-color: #b0c4de;
  border-radius: 4px;
}
code[type="class"]:before {
  content: "valet.";
}
code[type="hilite"] {
  padding: 2px 4px;
  background-color: #fffec9;
  border-radius: 4px;
}

pre.code {
  position: relative;
  margin: 12px 24px;
  padding: 8px;
  border: 1px solid black;
  background-color: #444;
  color: #ddd;
  overflow: auto;
}
pre.code[type="json"],
pre.code[type="yaml"],
pre.code[type="xml"] {
  background-color: #667;
  color: white;
}
pre.code[type="python"] {
  background-color: #b0c4de;
  color: #444;
}
pre.code[type]:after {
  content: attr(type);
  position: absolute;
  z-index: 1000;
  top: 0px;
  right: 0px;
  opacity: 0.33;
  background-color: white;
  color: #444;
  padding-left: 4px;
  padding-bottom: 4px;
  border-radius: 0px 0px 0px 8px;
  font-weight: bold;
  font-variant: small-caps;
}

section > section {
  margin-left: 4em;
}

section {
  margin-top: 48px;
  margin-bottom: 48px;
}

header.valet {
  position: relative;
  margin-top: 32px;
  width: 100%;
  height: 200px;
  background-color: #ddd;
  color: #444;
  font-size: 28px;
  font-weight: bold;
  border-radius: 18px;
}
header.valet span {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
header.valet img {
  position: absolute;
  top: 36px;
  left: 24px;
}

span.version {
  background-color: #8d8;
  color: #080;
  font-size: 11px;
  font-weight: bold;
  min-width: 10px;
  border-top: 1px solid #080;
  border-right: 1px solid #080;
  border-bottom: 1px solid #080;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  padding: 3px 7px;
  cursor: auto;
  margin-right: 1em;
}

div.notes {
  background-color: #fbf3cd;
  border-top: 2px solid #baae86;
  border-bottom: 2px solid #baae86;
  margin: 0px 12px;
  padding: 12px 24px;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 24px;
  margin: 0px;
  padding: 0px 12px;
  background-color: rgba(106, 106, 106, 0.85);
  border-bottom: 1px solid black;
  color: white;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
nav a {
  color: white;
}
nav span.prev {
  font-size: 12px;
  font-weight: normal;
  float: left;
}
nav span.prev:before {
  content: "←︎";
}
nav span.next {
  font-size: 12px;
  font-weight: normal;
  float: right;
}
nav span.next:after {
  content: "→︎";
}


dl.monospace_terms {
  margin: 0px 24px;
  padding: 8px;
  background-color: #ccc;
}
dl.monospace_terms dt {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}
dl.monospace_terms dd {
  margin-bottom: 24px;
}
dl.monospace_terms dd:last-child {
  margin-bottom: inherit;
}
dl.monospace_terms dt[file]:before {
  content: "📄";
}
dl.monospace_terms dt[directory]:before {
  content: "📂";
}

dl.bold_terms dt {
  font-weight: bold;
}
